---
import Portfolio from "@/components/sections/Portfolio.astro";
---

<section id="portfolio" class="section">
  <sparkly-text
    number-of-sparkles="5"
    style="--sparkly-text-color: color-mix(in srgb, currentColor, var(--primary) 100%);"
  >
    <mark>how do you like us meow</mark>
  </sparkly-text>

  <h2>Portfolio</h2>
  <p>
    A selection of bespoke websites we've designed and built for our clients,
    from personal brands and portfolios to small businesses.
  </p>
  <Portfolio />
</section>
