---
import Stats from "@/components/sections/Stats.astro";
---

<section id="stats" class="section" aria-labelledby="stats-title">
  <sparkly-text
    number-of-sparkles="5"
    style="--sparkly-text-color: color-mix(in srgb, currentColor, var(--primary) 100%);"
  >
    <mark>why we're the cat's whiskers</mark>
  </sparkly-text>

  <h2 id="stats-title">What Sets Us Apart</h2>
  <Stats />
</section>
