---
import Review from "@/components/ui/Review.astro";
---

<section id="testimonials" class="section" aria-labelledby="testimonials-title">
  <sparkly-text
    number-of-sparkles="5"
    style="--sparkly-text-color: color-mix(in srgb, currentColor, var(--primary) 100%);"
  >
    <mark>what our friends say</mark>
  </sparkly-text>

  <h2 id="testimonials-title">Customer Reviews</h2>
  <p>
    We could tell you how much we love what we do, but it's better coming from
    the people we've built for. Here's what our clients have to say.
  </p>
  <Review />
</section>
