:root {
  --ar: 1/1.1;
  --br: 4.55% / 3.5%;
  --hl: 0;
  --t: all 0.66s
    linear(
      0,
      0.007,
      0.028 2.1%,
      0.112 4.6%,
      0.224 6.9%,
      0.604 14.2%,
      0.713,
      0.803,
      0.879,
      0.939,
      0.985 26.2%,
      1.019 28.9%,
      1.034 30.7%,
      1.045,
      1.051 34.8%,
      1.053 37.2%,
      1.046 41.6%,
      1.012 54.7%,
      1.001 62.8%,
      0.997 73%,
      1
    );
}

.card {
  width: 400px;
  min-width: 400px;
  height: 530px;
  border-radius: var(--br);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  position: relative;
  background-size: 100% 100%;
  box-shadow: 0rem 0rem 1.5rem 0rem var(--primary-color-2-40);
  cursor: pointer;
  transition: opacity 1s;
  z-index: 1;
}
.card:hover {
  --hl: 0.5;
}

.card::before,
.card::after,
.inside {
  border-radius: inherit;
  content: "";
  grid-column: 1/-1;
  grid-row: 1/-1;
  inset: -1px;
  position: absolute;
  justify-content: space-evenly;

  label {
    font-size: 1.2rem;
  }

  button {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-height: 75px;
    width: 60%;
    margin-top: var(--spacing-4);
    z-index: 12;
  }
}

.primary {
  margin-top: -8px;
  transform: scale(110%);
  z-index: 2;
  height: calc(510px + 3vw);
  margin-inline: calc(2px + 2vw);
  box-shadow: 0rem 0rem 1.5rem 0rem var(--primary-color-2-80);
  animation: float 3s ease-in-out infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.popular {
  background-color: var(--primary-color-2);
  width: 100%;
  height: calc(30px + 0.2vw);
  position: absolute;
  top: 0;
  padding-top: 6px;
  font-weight: 600;
  color: var(--white);
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: inherit;
  color: black;
  overflow: hidden;
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-2);
  justify-content: space-around;
  background: hsl(28, 55%, 100%);
  z-index: 2;
}

.card-plan {
  padding-bottom: var(--spacing-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-details {
  text-transform: capitalize;
}

.card-extras {
  padding-top: var(--spacing-4);

  p {
    font-size: 0.9rem;
    line-height: 1.2;

    label {
      font-size: 0.9rem;
    }
  }
}

/* .inside .card-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  label {
    width: inherit;
  }
} */

/* .inside h3 {
  padding-bottom: 25px;
} */

.inside::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(248, 25%, 80%) 12%,
    hsla(207, 40%, 30%, 0.2) 90%
  );
  mix-blend-mode: overlay;
  filter: brightness(1) contrast(1.2);
  opacity: var(--hl);
  transition: var(--t);
}

.card::after {
  background: inherit;
  inset: -40px;
  scale: 0.8;
  filter: blur(36px) brightness(1) contrast(0.85) saturate(1.4);
  z-index: 0;
  transition: var(--t);
}

.card:hover::after {
  scale: 0.85;
  filter: blur(36px) brightness(1) contrast(1) saturate(1);
}

.card::before {
  content: "";
  inset: 0;
  /*   box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 20px -5px; */
  z-index: 1;
}


@media screen and (min-width: 1825px) {
  .card {
    height: 550px;
  }
  .primary {
    height: calc(510px + 3vw);
  }
}

@media screen and (min-width: 2450px) {
  .card {
    height: 560px;
  }
  .primary {
    height: calc(520px + 3vw);
  }
}

@media screen and (min-width: 2900px) {
  .card {
    height: 570px;
  }
  .primary {
    height: calc(530px + 3vw);
  }
}

@media screen and (min-width: 3250px) {
  .card {
    height: 600px;
  }
  .primary {
    height: calc(550px + 3vw);
  }
}

@media screen and (min-width: 3950px) {
  .card {
    height: 640px;
  }
  /* .primary {
    height: calc(640px + 3vw);
  } */
}

@media screen and (max-width: 1305px) {
  .card {
    width: 350px;
    min-width: 350px;
    height: 450px;
  }

  .primary {
    /* margin-top: -180px; */
    transform: scale(110%);
    height: calc(450px + 3vw);
    z-index: 2;
    margin-inline: 0;
    margin-block: calc(2px + 1vw);
  }

  .packages {
    gap: 4%;
  }
}

@media screen and (max-width: 1110px) {
  .card {
    width: 320px;
    min-width: 320px;
  }

  .packages {
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: var(--spacing-3);
    margin-bottom: calc(var(--spacing-10) * 2);
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 75%;
    min-width: 450px;
  }

  .packages {
    flex-wrap: wrap;
    gap: var(--spacing-4);
    justify-content: center;
    margin-bottom: calc(var(--spacing-10) * 2);
  }
}

@media screen and (max-width: 500px) {
  .primary {
    width: 90%;
  }

  .card {
    width: 75%;
    min-width: calc(300px + 15vw);
  }
}

@media screen and (max-width: 400px) {
  .primary {
    width: 90%;
  }

  .card {
    width: 90%;
    min-width: 300px;
  }
}
